apiVersion: v1
kind: Service
metadata:
  name: alert-manager-service
  namespace: costwatch
  labels:
    app: alert-manager
    component: backend
spec:
  type: ClusterIP
  ports:
  - port: 8004
    targetPort: 8004
    protocol: TCP
    name: http
  selector:
    app: alert-manager